<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/homer5.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">

        <thead>
        <tr>
          <th>Donor</th>
          <th>Amount</th>
          <th>Method donated</th>
          <th>Candidate</th>
        </tr>
        </thead>

        <tbody>
        {{#each donations}}
          <tr>
            <td> {{donor}}  </td>
            <td> {{amount}} </td>
            <td> {{donor.firstName}} {{donor.lastName}} </td>
            <td> {{candidate.lastName}}, {{candidate.firstName}} </td>
          </tr>
        {{/each}}
        </tbody>

        <tfoot>
        <tr>
          <th>{{total}}</th>
          <th>Total</th>
        </tr>
        </tfoot>

      </table>
    </article>
  </div>
</section>