<!--pass the active item as a parameter to the partial -->
<!--in each view, include this partial - with the appropriate parameter: -->

<nav class="ui inverted menu">
  <header class="header item"><a href="/"> Donation </a></header>
  <div class="right menu">
    <a id="home"   class= "item" href="/home"> Donate</a>
    <a id="report" class= "item" href="/report"> Report</a>
    <a id="settings" class= "item" href="/settings"> Settings</a>
    <a id="logout" class= "item" href="/logout"> Logout</a>
  </div>
</nav>

<!--  JQuery script to set the active class for the menu item with the id _id-->
<script>
  $("#{{_id}}").addClass("active item");
</script>