{{> welcomemenu }}

  <section class="ui stacked segment">
    <div class="ui grid">

      <aside class="six wide column">
        <img src="images/homer.png" class="ui medium image">
      </aside>

      <article class="ten wide column">
        <header class="ui  header"> Help Me Run Springfield</header>
        <p> Donate what you can now - No Bitcoins accepted! </p>
      </article>

    </div>
  </section>
